* {
	all: unset;
	font-family: feather;
	font-family: DaddyTimeMono NF;
	font-size: 24px;
}

.main-bar {
	background-color: #1e1e2e;
	color: red;
	border-radius: 16px;
	opacity: 0.9;
}


/* Workspaces */
.workspace  {
    background-color: transparent;
    /* Use box-shadow instead of border so the text isn't offset */
    color: #89b4fa;
    box-shadow: inset 0 -3px transparent;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
	//padding-top: 0.15em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	outline-style: dotted;
	outline-width: 1px;
}

.workspace button:hover {
    color: #F5C2E7;
    box-shadow: inherit;
    text-shadow: inherit;
}

.workspace button.active {
    color: #EBA0AC;
}

.workspace-button-active {
    color: #f9e2af;
}

.ip-address-text {
    color: red;
}

.ip-address-module {
	opacity: 1.0;
}

